#-----------------#
#     Backend     #

backend/node_modules/
backend/notes/
backend/test/
backend/reference/
backend/tmp/
backend/logs/
backend/public/hk/api/pricebook.php
backend/src/save_pricebook.php
backend/files/
backend/src/cancel_flag.txt
backend/src/result.txt
backend/src/detect_ro.php
backend/src/test.php


#-----------------#
#     Frontend    #

frontend/.astro/
frontend/**/env.d.ts
frontend/*.DS_Store
frontend/*.log
frontend/*.zip
frontend/.sass-cache
frontend/.idea
frontend/nbproject
frontend/nbproject/private
frontend/.vscode/
frontend/.vs/
frontend/node_modules/
frontend/bower_components/
frontend/docs/_site/
frontend/docs/vendor/
frontend/docs/.bundle/
frontend/docs_html/
frontend/.jekyll-cache/
frontend/.jekyll-metadata
frontend/TODO
frontend/test.html
frontend/ad.js
frontend/.cache/

#-----------------#
#      macOS      #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#-----------------#
#       IDE       #
.idea/
.vscode/
*.sublime-project
*.sublime-workspace