#-----------------#
#     Backend     #

backend/node_modules/
backend/notes/
backend/test/
backend/reference/
backend/tmp/
backend/logs/

#-----------------#
#     Frontend    #

frontend/.astro/
frontend/**/env.d.ts
frontend/*.DS_Store
frontend/*.log
frontend/*.zip
frontend/.sass-cache
frontend/.idea
frontend/nbproject
frontend/nbproject/private
frontend/.vscode/
frontend/.vs/
frontend/node_modules/
frontend/bower_components/
frontend/docs/_site/
frontend/docs/vendor/
frontend/docs/.bundle/
frontend/docs_html/
frontend/.jekyll-cache/
frontend/.jekyll-metadata
frontend/TODO
frontend/test.html
frontend/ad.js
frontend/.cache/
